* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(47, 255, 220);
}
a {
  text-decoration: none;
  color: #0499ff;
}

.menu li {
  padding: 15px;
}
.up {
  min-height: 40px;
  background-color: black;
  text-align: center;
  padding: 10px;
}

.menu {
  display: flex;
  flex-flow: row;
  color: gold;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  justify-content: space-around;
}

.name {
  display: block;
  margin-right: auto;
}
header {
  padding-top: 40px;
  width: 100%;
  height: 400px;
  background-image: url(https://placeimg.com/1000/400/nature);
  background-size: cover;
  text-align: center;
}

header img {
  border-radius: 50%;
  border: 2px solid #000;
}

header img:hover {
  transform: scale(1.2) rotate(5deg);
  transition: all 0.5s;
}

.tag {
  display: table;
  padding: 10px;
  margin: 10px auto;
  background-color: rgb(10, 184, 175);
  border-radius: 10px;
}

.sub-title {
  background-color: #000;
  color: rgb(241, 129, 0);
}

.alltext {
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  justify-content: space-around;
}

.text {
  max-width: 500px;
  margin: 10px;
  padding: 50px;
  background-color: rgb(34, 204, 162);
  border-bottom: 3px solid grey;
  border-radius: 5px;
}
.tag-yellow {
  color: #fff;
  background-color: #ff9904;
}

.tag-blue {
  color: yellow;
  background-color: dodgerblue;
}

.tag-list {
  display: flex;
  flex-flow: row;
  list-style-type: none;
}
footer {
  text-align: center;
  padding: 60px;
}

p {
  color: rgb(0, 109, 0);
}
.back {
  color: darkred;
  padding: 3px;
  background-color: gold;
}

div img {
  border-radius: 50%;
}
.first:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}
.second:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}
.ogo:hover {
  transform: scale(3) rotate(360deg);
  transition: all 0.5s;
}
